.messages {
  flex: 1;
  border: 1px solid #7f9db9;
  background-color: #fff;
  padding: 10px;
  height: calc(100% - 160px);
  overflow-y: scroll;

  .message {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &__row {
      display: flex;
      align-items: flex-end;
      gap: 10px;
    }

    &__info {
      width: 40px;
    }

    &__time {
      display: none;
      text-align: left;
      font-size: 10px;
      color: gray;
      margin-top: 5px;
    }

    &__profile-pic {
      display: none;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    &__content {
      max-width: 80%;
      display: flex;
      align-self: flex-start;
      flex-direction: column;
      gap: 10px;

      @media only screen and (max-width: 37.5em) {
        max-width: 60%;
      }
    }

    &__text {
      background-color: #d3e5fa;
      padding: 10px 20px;
      max-width: max-content;
    }

    &__image {
      cursor: pointer;
      width: 50%;

      @media only screen and (max-width: 37.5em) {
        width: 70%;
      }
    }

    &--owner {
      .message__row {
        flex-direction: row-reverse;
      }

      .message__content {
        align-items: flex-end;
      }

      .message__time {
        text-align: right;
      }

      .message__text {
        background-color: #0058f4;
        color: white;
      }
    }
  }

  // Owner last message
  .message + .message:not(:has(+ .message--owner)):not(.message--sender),
  .message + .message:not(:has(+ .message--sender)):not(.message--owner),
  .message:not(:has(+ .message--owner)):not(.message--sender),
  .message:not(:has(+ .message--sender)):not(.message--owner) {
    .message__profile-pic {
      display: block;
    }

    .message__time {
      display: block;
    }
  }
}

.window-full-image {
  img {
    width: 100%;
  }

  .window-body {
    background-color: #fff;
    max-width: 650px;
  }
}
